<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.unicom.*" />
    <!--<context:component-scan base-package="com.tydic.common.interfaces.interceptors.plugins.log.*" />-->
    <!--<context:component-scan base-package="com.tydic.common.interfaces.*" />-->
    <!--<context:component-scan base-package="com.tydic.common.xml.*" />-->

	<bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
	    <property name="messageConverters">
	         <list>
	             <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
	                <property name = "supportedMediaTypes">
	                     <list>
	                         <value>text/plain;charset=UTF-8</value>
	                         <value>application/json;charset=UTF-8</value>
	                     </list>
	                </property>
	             </bean>
	         </list>
	    </property>
	</bean>

    <bean id="logInterceptorPlugin" class="com.unicom.order.interceptor.OrderLogInterceptorPlugin" />

    <util:list id="afterPlugin" value-type="com.tydic.common.interfaces.interceptors.plugins.InterceptorPlugin">
        <ref bean="logInterceptorPlugin" />
    </util:list>

    <util:list id="beforePlugin" value-type="com.tydic.common.interfaces.interceptors.plugins.InterceptorPlugin">
        <bean class="com.tydic.common.interfaces.interceptors.plugins.auth.AuthInterceptorPlugin" />
        <bean class="com.tydic.common.interfaces.interceptors.plugins.validations.ValidationInterceptorPlugin">
            <!--<property name="excludeUri" ref="excludeUri" />-->
        </bean>
    </util:list>

    <!--<util:list id="innerBeforePlugin" value-type="com.tydic.common.interfaces.interceptors.plugins.InterceptorPlugin">-->
        <!--<bean class="com.unicom.order.interceptor.OrderInnerInterceptorPlugin">-->
            <!--<property name="innerServerIPs" value="#{orderProps[allowedInnerIPs]}" />-->
        <!--</bean>-->
    <!--</util:list>-->

    <!--<bean id="orderInterfaceHandlerInterceptor" class="com.unicom.order.interceptor.OrderInterfaceHandlerInterceptor" >-->
        <!--<property name="afterPlugin" ref="afterPlugin"/>-->
    <!--</bean>-->

    <mvc:interceptors>
            <!--<ref bean="orderInterfaceHandlerInterceptor" />-->
        <mvc:interceptor>
            <mvc:mapping path="/order/*"/>
            <bean class="com.unicom.order.interceptor.OrderInterfaceHandlerInterceptor">
                <!--<property name="rexPassUrl" >-->
                    <!--<array>-->
                        <!--<value>.*/uac/user/user_order_biz</value>-->
                        <!--&lt;!&ndash;<value>.*uac/user/upload_portrait_servlet</value>&ndash;&gt;-->
                    <!--</array>-->
                <!--</property>-->
                <property name="afterPlugin" ref="afterPlugin"/>
                <!--<property name="beforePlugin" ref="beforePlugin"/>-->
            </bean>
        </mvc:interceptor>

        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/uac/user/user_order_biz"/>-->
            <!--<bean class="com.unicom.order.interceptor.OrderInterfaceHandlerInterceptor">-->
                <!--<property name="afterPlugin" ref="afterPlugin"/>-->
                <!--<property name="beforePlugin" ref="innerBeforePlugin" />-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    </mvc:interceptors>



    <!--<bean id="tairManager" class="com.tydic.framework.lang.cache.TairManager"-->
          <!--init-method="init">-->
        <!--<constructor-arg index="0">-->
            <!--<value>com.tydic.oauth2.</value>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg index="1">-->
            <!--<value>oauth2_group</value>-->
        <!--</constructor-arg>-->
    <!--</bean>-->


    <!--<bean name="sysCodeDao" class="com.tydic.common.code.dao.impl.CodeMongoDaoImpl" />-->
    <!--<bean name="codeService" class="com.tydic.common.code.service.impl.UserCodeServiceImpl" init-method="initCache">-->
        <!--<property name="sysCodeDao" ref="sysCodeDao"/>-->
        <!--<property name="tairManager" ref="tairManager"/>-->
    <!--</bean>-->
    <!--<bean name="userAuthClientDao" class="com.tydic.common.dao.UserAuthClientDao" />-->

    <bean id="tokenService" class="com.tydic.oauth2.service.TokenService" />
</beans>